tr.detail-row {
    height: 0;
}

tr.normal-row:not(.expanded-row):hover {
    background: #777;
}

tr.normal-row:not(.expanded-row):active {
    background: #efefef;
}

.normal-row td {
    border-bottom-width: 0;
}

.expanded-element-body {
    overflow: hidden;
    display: flex;
}